<h1>Mailing Lists</h1>
<h2><%=h @report %></h2>

<% unless @response.nil?
	@response.each do |list| %>
		<%=h list.html_safe %><br />
<% 	end
   end %>
<% unless @html.nil? %>
	<%=raw @html %>
<% end %>	
<br />
<% unless @group.nil? %>
	GroupId: <%=raw @group %>
<% end %>	
<br />
<% unless @created.nil? %>
	Created: <%=raw @created %>
<% end %>	
<br />
<% unless @mailing.nil? %>
	Mailing: <%=raw @mailing %>
<% end %>	
<br />
<% unless @aid.nil? %>
	Ad Id: <%=raw @aid %>
<% end %>	
<br />
<% unless @addressid.nil? %>
	Address Id: <%=raw @addressid %>
<% end %>	
<br />
<% unless @name.nil? %>
	Name: <%=raw @name %>
<% end %>	
<br />
<% unless @subject.nil? %>
	Subject: <%=raw @subject %>
<% end %>	
<br />
<br />
[
<%# unless @raw.nil? %> 
	<%#=raw @raw %>
<%# end %>	
]
