<h1>Supplier Dashboard</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Subject</th>
    <th>Supp art</th>
    <th>Dist art</th>
    <th>Start</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads.each do |ad| %>
  <tr>
    <td><%= ad.id %></td>
    <td><%= ad.subject_line %></td>
    <td><%= ad.supp_art %></td>
    <td><%= ad.dist_art %></td>
    <td><%= ad.start %></td>
    <td><%= ad.status %></td>
    <td><%= link_to 'Show', ad %></td>
    <td><%= link_to 'Edit', edit_ad_path(ad) %></td>
    <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ad', { :action => "supplier_ad" } %>