<%= form_for :client, :url => { :controller => :admin, :action => :savereg } do |f| %>
<%= hidden_field_tag('role', "Supplier") %>
<fieldset>
	<legend><h2>Enter User Details</h2></legend>
	<p>
		<label for="username" >Login:</label>
		<%= text_field :user, :username, :size => 40 %>
	</p>
	<p>
		<label for="password" >Password:</label>
		<%= password_field :user, :password, :size => 40 %>
	</p>
	<p>
		<label for="password_confirmation" >Confirm:</label>
		<%= password_field :user, :password_confirmation, :size => 40 %>
	</p>
</fieldset>
    <legend><h2>Enter User Details</h2></legend>
<table>
	<tr>
		<td>
		<%= f.label :company %><br />
		<%= f.text_field :company %>
		</td>
	</tr>
	<tr>
		<td>
		<%= f.label :email %><br />
		<%= f.text_field :email, :size => 40 %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :web, 'Web Site used on Flyers' %><br />
		    <%= f.text_field :web, :size => 40 %>
		</td>
	</tr>
</table>	
<table>
	<tr>
		<td>
			<%= f.label :firstname %><br />
	    	<%= f.text_field :firstname %>
		</td>
		<td>
			<%= f.label :lastname %><br />
	    	<%= f.text_field :lastname %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :phone %><br />
	    	<%= f.text_field :phone %>
		</td>
		<td>
			<%= f.label :fax %><br />
	    	<%= f.text_field :fax %>
		</td>
	</tr>
</table>	
<table>
	<tr>
		<td>
		    <%= f.label :mailing_address %><br />
		    <%= f.text_field :mailing_address %>
		</td>
	</tr>
	<tr>		
		<td>
		    <%= f.label :mailing_address2 %><br />
		    <%= f.text_field :mailing_address2 %>
		</td>
	</tr>
</table>	
<table>
	<tr>
		<td>
			    <%= f.label :mailing_city, 'City' %><br />
			    <%= f.text_field :mailing_city, :size => 30 %>
			</td>
			<td>
			    <%= f.label :mailing_state, 'State' %><br />
			    <%= f.text_field :mailing_state, :size => 4 %>
			</td>
			<td>
			    <%= f.label :mailing_zip, 'Zip' %><br />
			    <%= f.text_field :mailing_zip, :size => 5 %>
			</td>
			<td>
			    <%= f.label :mailing_country, 'Country' %><br />
			    <%= f.text_field :mailing_country, :size => 20 %>
		</td>
	</tr>
</table>	
<br />
  </fieldset>
<br />
	  <fieldset>
		<legend>Lead Contact for Supplier</legend>
			  <p>
			    If different from Primary (optional)
			  </p>  
			  <p>
			    <%= f.label :leadname, "Contact Name for Leads" %><br />
			    <%= f.text_field :leadname %>
			  </p>  
			  <p>
			    <%= f.label :leademail, "Contact Email for Leads" %><br />
			    <%= f.text_field :leademail %>
			  </p>
	  </fieldset>
  <br />
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
