<h1>Listing reachmailgroups</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Name</th>
    <th>Groupid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reachmailgroups.each do |reachmailgroup| %>
  <tr>
    <td><%= reachmailgroup.client_id %></td>
    <td><%= reachmailgroup.name %></td>
    <td><%= reachmailgroup.groupid %></td>
    <td><%= link_to 'Show', reachmailgroup %></td>
    <td><%= link_to 'Edit', edit_reachmailgroup_path(reachmailgroup) %></td>
    <td><%= link_to 'Destroy', reachmailgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reachmailgroup', new_reachmailgroup_path %>
