<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Company:</b>
  <%= @client.company %>
</p>

<p>
  <b>Firstname:</b>
  <%= @client.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @client.lastname %>
</p>

<p>
  <b>Phone:</b>
  <%= @client.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @client.fax %>
</p>

<p>
  <b>Mailing address:</b>
  <%= @client.mailing_address %>
</p>

<p>
  <b>Mailing address2:</b>
  <%= @client.mailing_address2 %>
</p>

<p>
  <b>Mailing city:</b>
  <%= @client.mailing_city %>
</p>

<p>
  <b>Mailing state:</b>
  <%= @client.mailing_state %>
</p>

<p>
  <b>Mailing zip:</b>
  <%= @client.mailing_zip %>
</p>

<p>
  <b>Mailing country:</b>
  <%= @client.mailing_country %>
</p>

<p>
  <b>Shipping address:</b>
  <%= @client.shipping_address %>
</p>

<p>
  <b>Shipping address2:</b>
  <%= @client.shipping_address2 %>
</p>

<p>
  <b>Shipping city:</b>
  <%= @client.shipping_city %>
</p>

<p>
  <b>Shipping state:</b>
  <%= @client.shipping_state %>
</p>

<p>
  <b>Shipping zip:</b>
  <%= @client.shipping_zip %>
</p>

<p>
  <b>Shipping country:</b>
  <%= @client.shipping_country %>
</p>

<p>
  <b>Web:</b>
  <%= @client.web %>
</p>

<p>
  <b>Lead Name:</b>
  <%= @client.leadname %>
</p>

<p>
  <b>lead Email:</b>
  <%= @client.leademail %>
</p>

<p>
  <b>Admin notes:</b>
  <%= @client.admin_notes %>
</p>

<p>
  <b>Status:</b>
  <%= @client.status %>
</p>

<p>
  <b>Created at:</b>
  <%= @client.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @client.updated_at %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
